.modalityCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 180px;
  border-radius: 28px;
  transition: filter 0.25s;
  cursor: pointer;

  &:hover {
    filter: brightness(1.3);
  }
}

.freefire {
  background: url("../../../public/images/backgrounds/freefire-background.jpg")
      no-repeat,
    rgba($color: #00702d, $alpha: 0.85);
  background-blend-mode: multiply;
  background-size: cover;
}

.streamers {
  background: url("../../../public/images/backgrounds/streamers-background.jpg")
      no-repeat,
    rgba($color: #00702d, $alpha: 0.85);
  background-blend-mode: multiply;
  background-size: cover;
}

.wildrift {
  background: url("../../../public/images/backgrounds/wildrift-background.jpg")
      no-repeat,
    rgba($color: #00702d, $alpha: 0.85);
  background-blend-mode: multiply;
  background-size: cover;
}

.inactive {
  filter: saturate(0);
}
