.container {
  width: 90%;
  max-width: 1170px;
  margin: 140px auto 200px auto;

  h2 {
    color: #0afe6b;
    font-size: 7.5rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Anton", "Roboto", sans-serif;
    margin-bottom: 70px;
  }
}

.membersArea {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
