.card {
  background-color: #00702d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 42px 20px;
  border-radius: 28px;
  width: 140px;
  height: 140px;
  cursor: pointer;
  box-shadow: 0 4px 4px #00000025;
  transition: padding 0.3s;

  &:hover {
    padding: 50px 25px;
  }
}

.freefire {
  background: url("../../../public/images/freefire-background.jpg") no-repeat,
    rgba($color: #00702d, $alpha: 0.85);
  background-blend-mode: multiply;
  background-size: cover;
}

.valorant {
  background: url("../../../public/images/valorant-background.jpg") no-repeat,
    rgba($color: #00702d, $alpha: 0.85);
  background-blend-mode: multiply;
  background-size: cover;
}

.wildrift {
  background: url("../../../public/images/wildrift-background.jpg") no-repeat,
    rgba($color: #00702d, $alpha: 0.85);
  background-blend-mode: multiply;
  background-size: cover;
}
