.modalityChoicer {
  display: flex;
  gap: 60px;
  margin-top: 80px;
  margin-bottom: 140px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 930px) {
  .modalityChoicer {
    flex-direction: column;
  }
}
