.container {
  width: 100%;
  background-color: #0afe6b;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  gap: 30px;
  color: black;
  cursor: pointer;
  font-size: 17px;
  transition: filter 0.2s;

  &:hover {
    filter: opacity(0.86);
  }

  .description {
    font-family: "Prompt", "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
  }

  strong {
    font-weight: 600;
  }
}

@media (max-width: 400px) {
  .container {
    flex-direction: column;
    line-height: 5px;
    padding: 10px 0;
  }
}