.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  background-color: #1f1f1f;
  padding: 28px 0;
}

.transparent {
  background-color: transparent;
}

.mobileBarsMenu {
  display: none;
}

.menuItem {
  color: white;
  font-size: 1.4rem;
  font-family: "Prompt", "Roboto", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: letter-spacing 0.3s;

  &:hover {
    letter-spacing: 5px;
  }
}

@media (max-width: 660px) {
  .container {
    display: none;
  }

  .mobileBarsMenu {
    display: block;
    position: absolute;
    right: 20px;
    top: 125px;
    z-index: 1;
  }

  .mobileTotal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #1F1F1F;

    .menuItem {
      font-size: 2rem;
    }
  }
}